body{
    color:black;
    background:black;
    font-family: "Grey Qo", cursive;
}

header{

    border-bottom: solid 2px rgb(0, 225, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(6, 102, 236);
}

.chamada{
    background: pink;
    padding bottom:80px;
    padding-top:80px;
    display: flex;
    junstify-content: center;
}

.chamada-texto{
 margin-right: 5%;
}

h1{
    font-size: 40px;
}

img{
    height:200px
}

.categoria-videos{
    display: flex;
    overflow-x: autp;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-ringt: 20px;
    margin-top:50px;
}

.categoria-videos img {
    opacity: 0.5;
    heihgt:200px;
}

.categoria-videos img:hover{
    opacity: 1.o;
    border: solid 1px;
}

{
    .categoria h2{
        color: rgba(13, 232, 248, 0.411)
    }

